{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Story 2</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel ="stylesheet" href="{%static 'fix2.css' %}">
</head>
<body>
    <div class="row">
        <div class="col1">
            <img class="pinggir" src="https://i.ibb.co/VSmsrNT/foto.jpg" alt="foto">
        </div>
        <div class="col2" style="background-image: url(https://i.ibb.co/ZJGvBJz/sc.png)">  
            <nav>
                <ul>
                    <li><a href="/"><img src="https://i.ibb.co/wy0RbCt/home.png" title="Home Page" alt="home"></a></li>`</li>
                    <li><h1>Profile</h1></li>
                </ul>
            </nav>
            <pre>
                <p>Tempat/Tanggal Lahir : Jakarta, 26 Desember 1999</p> 
                <p>Alamat                           : Jl. Raya Centek Gg. Firman 
                                        No.108e Rt.011/010 Kelurahan  
                                        Ciracas, Kecamatan Ciracas, 
                                        Jakarta Timur</p>
                <p>Umur                                 : 19 Tahun</p>
                <p>Jenis Kelamin                  : Laki-laki</p>
                <p>Status                               : Belum Nikah</p>
                <p>Kewarganegaraan        : Indonesia</p>
                <p>Agama                            : Islam</p>
                <p>Email                                : fghafar80@gmail.com</p>

            </pre>
                            
        </div>
    </div>
    
</body>
</html>

